{% extends 'main/base.html' %}

{% load static %}

{% block main %}
<main class="main" id="main">

    <div class="PrivacyConteiner">
        <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
        <h2>Настоящая Политика конфиденциальности персональных данных (далее —
            Политика конфиденциальности) действует в отношении всей информации, которую
            сайт www.buzukina.by может получить о Пользователе во время использования сайта.
        </h2>
        
        <ol class="Privacy_list">
            <li>ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                <ol>
                    <li>В настоящей Политике конфиденциальности используются следующие
                        термины:</li>
                    <li>«Сайт» — совокупность размещенных в сети Интернет web-страниц с
                        единым адресным пространством домена www.buzukina.by.</li>
                    <li>«Администрация Сайта» — владелец сайта или иные лица, уполномоченные
                        владельцем сайта осуществлять действия по управлению сайтом, которые организуют
                        и (или) осуществляют обработку персональных данных, а также определяют цели
                        обработки персональных данных, состав персональных данных, подлежащих
                        обработке, действия (операции), совершаемые с персональными данными.</li>
                    <li>«Персональные данные» — информация, относящаяся к определяемому
                        физическому лицу (субъекту персональных данных) и позволяющая идентифицировать
                        такое лицо.</li>
                    <li>«Обработка персональных данных» — любое действие (операция) или
                        совокупность действий (операций), совершаемых с использованием средств
                        автоматизации или без использования таких средств с персональными данными,
                        включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление,
                        изменение), извлечение, использование, передачу (распространение, предоставление,
                        доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                    <li>«Конфиденциальность персональных данных» — обязательное для
                        соблюдения Администрацией Сайта или иным получившим доступ к персональным
                        данным лицом требование не допускать их распространения без согласия их
                        обладателя или наличия иного законного основания.</li>
                    <li>«Пользователь Сайта (далее Пользователь)» — лицо, имеющее доступ к
                        Сайту, посредством сети Интернет и использующее Сайт.</li>
                    <li>«IP-адрес» — уникальный сетевой адрес узла в компьютерной сети,
                        построенной по протоколу IP.</li>
                </ol>
            </li>

            <li> ОБЩИЕ ПОЛОЖЕНИЯ
                <ol>
                    <li>Использование Пользователем Сайта означает согласие с настоящей
                        Политикой конфиденциальности.</li>
                    <li>В случае несогласия с условиями Политики конфиденциальности
                        Пользователь должен прекратить использование Сайта.</li>
                    <li>Администрация Сайта не проверяет достоверность персональных данных,
                        предоставляемых Пользователем Сайта.</li>
                </ol>
            </li>

            <li> ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                <ol>
                    <li>Настоящая Политика конфиденциальности устанавливает обязательства
                        Администрации Сайта по неразглашению персональных данных, которые
                        Пользователь предоставляет при совершении действий на Сайте.</li>
                    <li>Персональные данные, разрешённые к обработке в рамках настоящей
                        Политики конфиденциальности, предоставляются Пользователем путём заполнения
                        регистрационной формы или совершения иных действий на Сайте, и могут включать в
                        себя следующую информацию:</li>
                    <li>фамилию, имя, никнейм Пользователя;</li>
                    <li>контактный телефон Пользователя;</li>
                    <li>адрес электронной почты (e-mail);</li>
                    <li>Сайт защищает данные, которые автоматически передаются при
                        посещении страниц, на которых установлен статистический скрипт системы
                        («пиксель»):
                        - IP адрес;
                        - информация из cookies;
                        - информация о браузере;
                        - время доступа;</li>
                    <li>Сайт осуществляет сбор статистики об IP-адресах своих посетителей.
                        Данная информация используется с целью выявления и решения технических проблем.</li>
                    <li>Любая иная персональная информация, не указанная выше, подлежит
                        надежному хранению и нераспространению, за исключением случаев,
                        предусмотренных законодательством Республики Беларусь.</li>
                </ol>
            </li>

            <li>ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
                <ol>
                    <li>Персональные данные Пользователя Администрация Сайта может использовать в целях:</li>
                    <li>Идентификации Пользователя на Сайте.</li>
                    <li>Предоставления Пользователю доступа к персонализированным ресурсам Сайта.</li>
                    <li>Установления с Пользователем обратной связи, включая направление
                        уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка
                        запросов и заявок от Пользователя.</li>
                    <li>Определения местонахождения Пользователя для обеспечения
                        безопасности, предотвращения мошенничества.</li>
                    <li>Подтверждения достоверности и полноты персональных данных,
                        предоставленных Пользователем.</li>
                    <li>Предоставления Пользователю эффективной клиентской и технической
                        поддержки при возникновении проблем, связанных с использованием Сайта.</li>
                </ol>
            </li>

            <li>СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                <ol>
                    <li>Обработка персональных данных Пользователя осуществляется без
                        ограничения срока, любым законным способом, в том числе в информационных
                        системах персональных данных с использованием средств автоматизации или без
                        использования таких средств.</li>
                    <li>Персональные данные Пользователя могут быть переданы
                        уполномоченным органам государственной власти Республики Беларусь только по
                        основаниям и в порядке, установленным законодательством Республики Беларусь.</li>
                    <li>При утрате или разглашении персональных данных Администрация сайта
                        информирует Пользователя об утрате или разглашении персональных данных.</li>
                    <li>Администрация Сайта принимает необходимые организационные и
                        технические меры для защиты персональной информации Пользователя от
                        неправомерного или случайного доступа, уничтожения, изменения, блокирования,
                        копирования, распространения, а также от иных неправомерных действий третьих лиц.</li>
                </ol>
            </li>

            <li> АДМИНИСТРАЦИЯ САЙТА ОБЯЗАНА:
                <ol>
                    <li> Использовать полученную информацию исключительно для целей,
                        указанных в п. 4 настоящей Политики конфиденциальности.</li>
                    <li>Обеспечить хранение конфиденциальной информации в тайне, не
                        разглашать без предварительного письменного разрешения Пользователя, а также не
                        осуществлять продажу, обмен, опубликование, либо разглашение иными возможными
                        способами переданных персональных данных Пользователя. 
                        При этом предоставленная добровольно пользователем личная информация для размещения на сайте, подлежит опубликованию на Сайте 
                        (например, информация для опубликования Отзыва в соответствующем разделе Сайта). </li>
                    <li>Принимать меры предосторожности для защиты конфиденциальности
                        персональных данных Пользователя согласно порядку, обычно используемого для
                        защиты такого рода информации в существующем деловом обороте.</li>
                    <li>Осуществить блокирование персональных данных, относящихся к
                        соответствующему Пользователю, с момента обращения или запроса Пользователя
                        или его законного представителя либо уполномоченного органа по защите прав
                        субъектов персональных данных на период проверки, в случае выявления
                        недостоверных персональных данных или неправомерных действий.</li>
                </ol>
            </li>

            <li> ПОЛЬЗОВАТЕЛЬ ОБЯЗАН:
                <ol>
                    <li> Добропорядочно использовать ресурсы Сайта.</li>
                    <li> Не нарушать при использовании сайта законодательство Республики Беларусь.</li>
                </ol>
            </li>

            <li> РАЗРЕШЕНИЕ СПОРОВ
                <ol>
                    <li>До обращения в суд с иском по спорам, возникающим из отношений между
                        Пользователем Сайта и Администрацией Сайта, обязательным является предъявление
                        претензии (письменного предложения о добровольном урегулировании спора).</li>
                    <li>Получатель претензии в течение 30 календарных дней со дня получения
                        претензии письменно уведомляет заявителя претензии о результатах рассмотрения
                        претензии.</li>
                    <li>При недостижении соглашения спор будет передан на рассмотрение в
                        судебный орган в соответствии с действующим законодательством Республики
                        Беларусь.</li>
                    <li>К настоящей Политике конфиденциальности и отношениям между
                        Пользователем и Администрацией Сайта применяется действующее законодательство
                        Республики Беларусь.</li>
                </ol>
            </li>

            <li> ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
                <ol>
                    <li>Администрация Сайта вправе вносить изменения в настоящую Политику
                        конфиденциальности без согласия Пользователя.</li>
                    <li>Новая Политика конфиденциальности вступает в силу с момента ее
                        размещения на Сайте, если иное не предусмотрено новой редакцией Политики
                        конфиденциальности.</li>
                    <li>Все предложения или вопросы по настоящей Политике
                        конфиденциальности следует направлять Администрации Сайта при помощи контактных средств, указанных на сайте.
                        </li>
                    <li>Действующая Политика конфиденциальности размещена на странице по
                        адресу https://www.buzukina.by/</li>
                </ol>
            </li>
        </ol>

    </div>

    <footer class="footer">
        <h4>© Агроусадьба "БузукИнА"</h4>
        <a href="#">ссылка на разработчика сайта</a>
    </footer>


</main>

{% endblock main %}




